<div class="row">
  <% @receitas.each do |receita| %>
    <div class="col-sm-12">
      <h3><%= link_to receita.titulo, receita_path(receita) %></h3>
      <%= raw(receita.descricao.gsub(/\n/,',&nbsp;')[0..100]) %>...<br>
    </div>
  <% end %>
</div>

<%= paginate @receitas %>