* {
  font-family: "open sans",sans-serif;
}

body {
  margin-top: 60px;
  color: #555;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

textarea {
  min-height: 400px;
}

.navbar-primary {
  background: #2ecc71;
  border: none;
  .navbar-brand {
    color: white;
  }
  .navbar-nav > li > a:hover, 
  .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
  }
  .navbar-nav > li > a {
    font-weight: 200;
    color: #EEE;
  }
}